@font-face {
    font-family: fontName;
    src: url(./../fonts/iransans/woff/IRANSansX-Medium.woff);
}

body {
    font-family: fontName;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    background-color: #eee;
}