@font-face {
    font-family: iransSans;
    src: url(./../fonts/iransans/woff/IRANSansX-Medium.woff);
}

body {
    font-family: iransSans;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-image: url('./../images/background.jpg');
    background-size: cover;
}

.boxBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.backMiror {
    position: relative;
    background-color: #ffffff5c;
    backdrop-filter: invert(5%);
    height: 60%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sliderMain {
    height: 200px;
    width: 100%;
}

.sliderMain img {
    width: 100%;
    height: 100%;
}

.groupCategury {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.itemCategury {
    width: 26%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    backdrop-filter: invert(5%);
    margin-bottom: 16px;
    text-decoration: none;
    color: #151515;
}

.sliderCategury img {
    width: 80px;
    position: absolute;
    top: -30px;
    height: 80px;
    object-fit: contain;
}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 74%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-direction-col {
    flex-direction: column;
}

.sliderCategury .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.groupProducts {
    position: fixed;
    z-index: 9;
    top: 16%;
    color: #fff;
  }
.sliderCategury {
    height: 200px;
}

.nameBest {
    color: #999;
    font-size: 12px;
}

.categuryBest {
    color: #999;
    font-size: 10px;
}

.priceBest {
    color: #08b308;
    font-size: 10px;
}

svg {
    font-size: 20px;
}


.basketIcon svg {
    font-size: 20px;
    padding: 0.4rem;
    background-color: #11111182;
    color: #fff;
    border-radius: 16px 10px 29px 14px;
}

.menuIcon svg {
    font-size: 20px;
    padding: 0.4rem;
    background-color: #11111182;
    color: #fff;
    border-radius: 14px 29px 10px 16px;
}

.titleSlider {
    width: 80%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.offer {
    color: #fff;
    font-size: 10px;
    background: #600;
    border-radius: 50px;
    padding: 0.2rem;
}

.unitPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.storyImage {
    width: 70px;
    aspect-ratio: 1;
    background: linear-gradient(to top, #d53a50 0%, #bdad56 100%);
    border-radius: 100%;
    box-sizing: border-box;
    padding: 3px;
}

.mainPrice {
    font-size: 10px;
    text-decoration: line-through;
    text-decoration-color: red;
}

.btnMenu {
    backdrop-filter: invert(5%);
    background-color: transparent;
    border: 1px solid #ccc;
    width: 110px;
    height: 110px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.backHead {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #fbd8d8;
    z-index: 1;
    filter: blur(18px);
}

.z-1 {
    z-index: 7;
}

.circle {
    position: relative;
    width: 100px;
    color: #414141;
    font-size: 10px;
    font-weight: bold;
}

.circle::after {
    content: '';
    width: 8px;
    aspect-ratio: 1;
    background-color: #009700;
    display: block;
    position: absolute;
    left: 0;
    top: 35%;
    border-radius: 10px;
    animation: wink 1.7s linear infinite;
}

@keyframes wink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #fff;
    z-index: 7;
    margin: 0;
    list-style: none;
    padding: 0;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom-left-radius: 30px;
}

.menu li {
    padding-right: 1rem;
    font-size: 12px;
}

.popUp {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00000073;
    z-index: 7;
    backdrop-filter: blur(5px);
}

.categury {
    width: 80%;
    position: fixed;
    min-height: 30vh;
    /* background-color: #ececec; */
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 25%;
    z-index: 10;
    /* box-shadow: inset 0 0 10px 20px #cecece; */
    border-radius: 8px;
    padding: 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-height: 45vh;
    overflow: scroll;
    background-image: url('./../images/background.jpg');
    background-size: cover;
}

.itemCateguryParent {
    width: 26%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    backdrop-filter: invert(5%);
    margin-bottom: 16px;
    text-decoration: none;
    color: #151515;
}

.itemCateguryParent .imgCategury {
    width: 50px;
}

.itemCateguryParent .nameCategury {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 10px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.txtNameMenu {
    font-weight: bold;
    padding-right: 1rem;
}

.menu li {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.menu li:last-child {
    border-bottom: unset;
}

.menu li a {
    display: flex;
    align-items: center;
}

.imgCategury {
    width: 35px;
}

.nameCategury {
    font-size: 13px;
}

.centerCenter {
    position: fixed;
    top: 25%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 99;
}

.lineShadow {
    border-image: linear-gradient(90deg, #69ceff00, #bbd1d2, #ac000000) 11;
    border-top-style: solid;
    border-top-width: 2px;
    width: 100%;
    height: 1px;
    display: block;
}

.m-0 {
    margin: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}
.f-bold{
    font-weight: bold;
}


.itemProduct {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    backdrop-filter: invert(5%);
    margin-bottom: 16px;
    text-decoration: none;
    color: #151515;
    height: 55px;
    overflow: clip;
}
.imgProduct {
    width: 50px;
  }
  .priceHeader {
    font-size: 10px;
    width: 80%;
    text-align: left;
    position: sticky;
    top: -16px;
    padding-left: 2.4rem;
    background-color: red;
    z-index: 99;
  }

  .PriceProduct {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .PriceProduct span:first-child{
    color: green;
  }
  .nameProduct {
    color: #151515;
    font-size: 12px;
  }
/* about  */
.aboutImg{
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
}

.textAbout{
    font-size: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    font-weight: bold;
    line-height: 25px;
}
.media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff30;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: 8px;
  }
  .media a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .phonesbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff30;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    height: 60px;
    margin-top: 1rem;
  }
  .btnCallUs {
    text-align: center;
    text-decoration: none;
    color: #151515;
    border: 1px solid green;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: green;
    color: #fff;
    font-size: 10px;
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* about  */