@font-face {
    font-family: iransSans;
    src: url(./../fonts/iransans/woff/IRANSansX-Medium.woff);
}

body {
    font-family: iransSans;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-image: url('./../images/background.jpg');
    background-size: cover;
}

.boxBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.backMiror {
    position: relative;
    background-color: #ffffff5c;
    backdrop-filter: invert(5%);
    height: 60%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sliderMain {
    height: 200px;
    width: 100%;
}

.sliderMain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.groupCategury {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;
}


.itemCategury {
    width: 26%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    backdrop-filter: invert(5%);
    margin-bottom: 16px;
    text-decoration: none;
    color: #151515;
}

.categury.openCatPopUp {
    aspect-ratio: 1;
    overflow: auto;
  }
.sliderCategury img {
    width: 80px;
    position: absolute;
    top: -30px;
    height: 80px;
    object-fit: cover;
}

.w-25 {
    width: 25%;
}

.w-95 {
    width: 95%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 74%;
}

.w-70 {
    width: 70%;
}

.text-right {
    text-align: right;
}

.text-decoration-none {
    text-decoration: none;
}

.borderRl {
    border-right: 1px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
}

.w-100 {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-direction-col {
    flex-direction: column;
}

.sliderCategury .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.groupProducts {
    position: fixed;
    z-index: 9;
    top: 16%;
    color: #fff;
}

.sliderCategury {
    height: 200px;
}

.nameBest {
    color: #999;
    font-size: 12px;
}

.categuryBest {
    color: #999;
    font-size: 10px;
}

.priceBest {
    color: #08b308;
    font-size: 10px;
}

svg {
    font-size: 20px;
}


.basketIcon svg {
    font-size: 20px;
    padding: 0.4rem;
    background-color: #11111182;
    color: #fff;
    border-radius: 16px 10px 29px 14px;
}

.menuIcon svg {
    font-size: 20px;
    padding: 0.4rem;
    background-color: #11111182;
    color: #fff;
    border-radius: 14px 29px 10px 16px;
}

.titleSlider {
    width: 80%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.offer {
    color: #fff;
    font-size: 10px;
    background: #600;
    border-radius: 50px;
    padding: 0.2rem;
}

.unitPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.storyImage {
    width: 70px;
    height: 70px;
    background: linear-gradient(to top, #d53a50 0%, #bdad56 100%);
    border-radius: 100%;
    box-sizing: border-box;
    padding: 3px;
}
.sliderStory{
    height: 80px;
}
.mainPrice {
    font-size: 10px;
    text-decoration: line-through;
    text-decoration-color: red;
    color: red;
}

.btnMenu {
    backdrop-filter: invert(5%);
    background-color: transparent;
    border: 1px solid #ccc;
    width: 110px;
    height: 110px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.backHead {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #fbd8d8;
    z-index: 1;
    filter: blur(18px);
}

.z-1 {
    z-index: 7;
}

.circle {
    position: relative;
    width: 100px;
    color: #414141;
    font-size: 10px;
    font-weight: bold;
}

.circle::after {
    content: '';
    width: 8px;
    aspect-ratio: 1;
    background-color: #009700;
    display: block;
    position: absolute;
    left: 0;
    top: 35%;
    border-radius: 10px;
    animation: wink 1.7s linear infinite;
}

@keyframes wink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #fff;
    z-index: 7;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom-left-radius: 30px;
}

.titleCategury {
    color: #fff;
}

.menu li {
    padding-right: 1rem;
    font-size: 12px;
}

.openCatPopUp {
    background-image: url('./../images/background.jpg');
}

.popUp {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00000073;
    z-index: 7;
    backdrop-filter: blur(5px);
}

.borderOpration {
    border: 1px solid #ccc;
}

.boxCenter {
    width: 90%;
    position: fixed;
    min-height: 30vh;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 25%;
    z-index: 10;
    /* box-shadow: inset 0 0 10px 20px #cecece; */
    border-radius: 8px;
    padding: 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    /* max-height: 45vh; */
    /* overflow: scroll; */
    /* background-image: url('./../images/background.jpg'); */
    background-size: cover;
}

.boxCenter .categury {
    z-index: 9;
    background-image: url('./../images/background.jpg');
    box-shadow: none;
}

.categury {
    width: 90%;
    min-height: 30vh;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 25%;
    border-radius: 8px;
    padding: 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-height: 50vh;
    overflow: scroll;
    background-size: cover;
}

.itemCateguryParent {
    width: 26%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    backdrop-filter: invert(5%);
    margin-bottom: 16px;
    text-decoration: none;
    color: #151515;
}

.itemCateguryParent .imageCategury {
    width: 50px;
}

.itemCateguryParent .nameCategury {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 10px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.txtNameMenu {
    font-weight: bold;
    padding-right: 1rem;
}

.menu li {
    display: flex;
    min-height: 50px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.menu li:last-child {
    border-bottom: unset;
}

.menu li a {
    display: flex;
    align-items: center;
}

.imageCategury {
    width: 35px;
}

.nameCategury {
    font-size: 13px;
    text-align: center;
}

.centerCenter {
    position: fixed;
    top: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 99;
    aspect-ratio: 1;
    object-fit: contain;
}

.lineShadow {
    border-image: linear-gradient(90deg, #c700f000, #e0b8e6, #c700f000) 11;
    border-top-style: solid;
    border-top-width: 2px;
    width: 100%;
    height: 1px;
    display: block;
}

.m-0 {
    margin: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.w-30 {
    width: 30%;
}

.f-bold {
    font-weight: bold;
}


.itemProduct {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    backdrop-filter: invert(5%);
    margin-bottom: 16px;
    text-decoration: none;
    color: #151515;
    height: 85px;
    overflow: clip;
}

.imgProduct {
    width: 66px;
    object-fit: cover;
    aspect-ratio: 1;
    padding-right: .5rem;
}

.addItemBasket {
    font-size: 10px;
    width: 80%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    border: 1px solid #639d636b;
    color: #268026;
    background-color: #00800024;
    font-weight: bold;
}
.pl-1{
    padding-left: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.priceHeader {
    font-size: 10px;
    width: 80%;
    text-align: left;
    position: sticky;
    top: -16px;
    padding-left: 2.4rem;
    background-color: red;
    z-index: 99;
}

.pr-1 {
    padding-right: 1rem;
}

.w-15 {
    width: 15%;
}

.PriceProduct {
    font-size: 10px;
    color: #595959;
}

.starRate {
    font-size: 12px;
    color: #888;
}


.detaileProduct {
    font-size: 10px;
    color: #717171;
    width: 80%;
}

.productPrice {
    color: green;
    font-weight: bold;
    border-bottom: 1px solid green;
    padding-bottom: 8px;
}

.nameProduct {
    color: #151515;
    font-size: 12px;
}

.productImage {
    width: 95%;
    height: 200px;
    border-radius: 8px;
}

.productOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxOperation {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 80px;
    align-items: center;
    backdrop-filter: invert(8%);
    border-radius: 8px;
    padding: 0 8px;
    flex-direction: column;
}
.addBtn{
    color: #169b16;
    border: 1px solid #959595;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    line-height: 28px;
}
.minBtn{
    color: #cb4040;
    border: 1px solid #959595;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    line-height: 28px;

}
.groupBuy {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

/* about  */
.aboutImg {
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
}

.d-none {
    display: none;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.box-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 100%;
    padding-right: 8px;
}
.flex-row{
    flex-direction: row !important;
}
.box-left {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    height: 100%;
}
.addProduct{
    font-size: 10px;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    border: 1px solid #639d636b;
    color: #268026;
    background-color: #00800024;
    font-weight: bold;
}
.ml-1{
    margin-left: 1rem;
}
.textAbout {
    font-size: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    font-weight: bold;
    line-height: 25px;
}

.media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff30;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: 8px;
}

.media a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.phonesbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff30;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    height: 60px;
    margin-top: 1rem;
}

.btnCallUs {
    text-align: center;
    text-decoration: none;
    color: #151515;
    border: 1px solid green;
    padding: 0.2rem;
    border-radius: 8px;
    background-color: green;
    color: #fff;
    font-size: 10px;
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about  */